{% extends 'logged.html.twig' %} 
{% block title %}Hello TweetController!{% endblock %} 
{% block container %}
	<h1>Tous les derniers Tweets</h1>
	{{ form(createTweet) }}

  {% include "tweet/tweet.html.twig" %}

{% endblock %}
