{% extends 'base.html.twig' %} {% block title %}Oups{%
endblock %} {% block body %}

<div class="container">
	<h1>Cet utilisateur n'existe pas.</h1>

  <a href={{ path('tweet') }}>Retour à l'acceuil</a>

</div>

{% endblock %}
